<link rel="stylesheet" href="home.css" />

<div id="about-us">
  <img src="https://media.licdn.com/media/AAEAAQAAAAAAAAdiAAAAJGQ4NDdkZGM5LTA5MGItNDQ5Mi04NmNiLWQyZjk3MTY5MmIyNA.jpg" alt="">
  <img src="https://media.licdn.com/media/AAEAAQAAAAAAAAgmAAAAJGE5ZDlhYTg3LTQ3Y2QtNGUyMi04MzZlLTAxYTY4ZWM5YWE4MA.jpg" alt="">
  <img src="https://media.licdn.com/media/p/8/005/053/397/1feba1b.jpg" alt="">
</div>
</div>

<div id="container">
  <div class="article-sidebar">
    <div class="text">
      <%= 'We design and build simple, clean and functional websites.' %>
      <%= 'Give us an email to see our work' %>
    </div>
  </div>
</div>

<div class="contact-button">
  <%= 'Contact Us' %>
</div>
<div id="contact-us">
  <%= render 'form' %>
</div>


<div class="footer">
  <%= link_to '-LinkedIn', '#' %>
  <%= link_to 'GitHub-', '#'%>
</div>
