<link rel="stylesheet" href="home.css" />

<div id="about-us">
  <img src="assets/isaac.png" alt="">
  <img src="assets/tyler.png" alt="">
  <img src="assets/mary.png" alt="">
</div>
</div>

<div id="container">
  <div class="article-sidebar">
    <div class="text">
      <%= 'We design and build simple, clean and functional websites.' %>
      <%= 'Give us an email to see our work' %>
    </div>
  </div>
</div>

<div class="contact-button">
  <%= 'Contact Us' %>
</div>
<div id="contact-us">
  <%= render 'form' %>
</div>


<div class="footer">
  <%= link_to '-LinkedIn', '#' %>
  <%= link_to 'GitHub-', '#'%>
</div>
