<link rel="stylesheet" href="home.css" />

<div id="about-us">
  <div class="img-container">
    <img src="https://media.licdn.com/media/AAEAAQAAAAAAAAdiAAAAJGQ4NDdkZGM5LTA5MGItNDQ5Mi04NmNiLWQyZjk3MTY5MmIyNA.jpg" alt="">
    <p><%= link_to "#{@mary.first_name} #{@mary.last_name}", admins_path %></p>
  </div>
  <div class="img-container">
    <img src="https://media.licdn.com/media/AAEAAQAAAAAAAAgmAAAAJGE5ZDlhYTg3LTQ3Y2QtNGUyMi04MzZlLTAxYTY4ZWM5YWE4MA.jpg" alt="">
    <p><%= link_to "#{@tyler.first_name} #{@tyler.last_name}", admins_path %></p>
  </div>
  <div class="img-container">
    <img src="https://media.licdn.com/media/p/8/005/053/397/1feba1b.jpg" alt="">
    <p><%= link_to "#{@isaac.first_name} #{@isaac.last_name}", admins_path %></p>
  </div>
</div

<div class="contact-container">
  <div class="contact-button">
    <%= 'Contact Us' %>
  </div>

  <div id="contact-us">
    <%= render 'form' %>
  </div>
</div>

<div class="footer">
  <%= link_to '-LinkedIn', '#' %>
  <%= link_to 'GitHub-', '#'%>
</div>
