<!DOCTYPE html>
<html>
  <head>
    <title>AndrewsDesign</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <%= "Hello" %>
    <%= yield %>
  </body>
</html>
